.sprite {
  display: none;
}

canvas {
  background-image: url("../images/background.png");
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

body {
  background: #aaa;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 20px auto;
  text-align: center;
}

.group {
  display: block;
  content: "";
  clear: both;
}

.footer {
  /*position: relative;
  bottom: 0;*/
  margin-top: 250px;
  padding: 20px 0;
  width: 100%;
  background: #ccc;
}

.footer > a {
  /*float: left;*/
  text-decoration: none;
  color: #000;
  padding: 20px;
  border-right: 1px solid #444442;
}

.footer > a:hover {
  background: #aaa;

}

.footer > a:last-child {
  border-right: none;
}
